*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  transition: 0.2s;
}

body, main{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  flex-direction: column;
  overflow-x: hidden;
  
}

main h1{
  color: rgb(80, 80, 80);
  border-bottom: 10px solid rgb(80, 80, 80);
  border-radius: 8px;
}

.text-h1{
  font-size: 25px;
}

.text-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 500px;
  height: 60vh;
}

form{
  display: flex;
  flex-direction: column;
  align-items: center;
}

#floatingInput{
  width: 400px;
}

#floatingInput:focus{
  box-shadow: 0 0 7px black;
  transition: 0.5s;
}

.btn{
  margin-top: 20px;
  padding: 15px;
  width: 200px;
}

.check-input{
  color: rgb(129, 3, 3);
  background-color: rgb(248, 193, 193);
  font-weight: 600;
  width: 350px;
  border-radius: 30px;
  text-align: center;
  margin-top: 10px;
}

.modal-container{
  position: absolute;
  background-color: rgba(0, 0, 0, 0.363);
  top: 0;
  left: 1999px;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  pointer-events: none;
  transition: 0.3s;
}

.modal-text{
  height: 900px;
  width: 700px;
  background-color: rgb(230, 230, 230);
  background-image: linear-gradient(to bottom, rgba(0,0,0,0.2) 0%, rgba(0, 0, 0, 0.9) 100%), url('./imgs/sp');
  background-size: cover;
  background-position: center;
  border-radius: 30px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 50px;
  flex-direction: column;
  box-shadow: 0 0 60px black;
}

.modal-text button {
  position: absolute;
  bottom: 20px;
  padding: 15px;
  font-size: 16px;
  border-radius: 13px;
}

.icon{
  width: 250px;
  height: 250px;
}

.show-modal {
  opacity: 1;
  pointer-events: auto;
  left: 0;
  z-index: 9;
}

.local {
  text-shadow: 0 0 3px white;
  border-bottom: 5px solid rgba(255, 255, 255, 0.308);
}

.img-container{
  position: absolute;
  bottom: 400px;
}

.show-weather{
position: absolute;
bottom: 200px;
}

.greets{
  position: absolute;
  top: 20px;
}

.small-phrase{
  position: absolute;
  top: 150px;
  right: 30%;
  font-size: 30px;
  color: rgba(255, 255, 255, 0.787);
}

footer{
  font-size: 30px;
  color: rgb(80, 80, 80);
}
.btn-success{
  position: relative;
}
.btn-success a{
  position: relative;
  z-index: 1;

}

.btn-success::after{
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #3b2ddb;
  transition: 0.2s;
  border-radius: 4px;
}

.btn-success:hover::after{
  width: 100%;
}

.dark-container{
  display: flex;
}

.fa-sun, .fa-moon {
  height: 30px;
  width: 30px;
}